.wrapper {
  position: relative;
}

.viewport {
  overflow: hidden;
}

.container {
  display: flex;
  align-items: stretch;
  cursor: grab;
}

.container:active {
  cursor: grabbing;
}

.container > * {
  flex: 0 0 auto;
  min-width: max-content;
}
